$def with (title, col_heads, containers, render, datetime, showall)
$var title: $title

<div class="col-md-12">
    <ul class="nav nav-pills">
            $if showall:
                <li>
            $else:
                 <li class="active">
            <a href="/containers">Running</a>
            </li>
            $if showall:
                <li class="active">
            $else:
                <li>
            <a href="/containers?showall=True">All</a>
            </li>
            <li>
                <a href="/create-container"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Container</a>
            </li>
    </ul>
    <table class="table sortable" id="containers">
        <thead>
            <tr>
            $for col_head in col_heads:
                <th> $col_head  </th>
            </tr>
        </thead>
        <tbody>
            $for container in containers:
                <tr>
                $if container is not None:
                    $for col_head in col_heads:
                        <td>
                        $if col_head in container or col_head == "Manage":
                            $if col_head == 'Names':
                                    $:render.plainlist(container[col_head])
                            $elif col_head == 'Labels':
                                    $:render.dictionary(container[col_head])
                            $elif col_head == "Ports":
                                $ ports = container['Ports']
                                $for port in ports:
                                    <div style="white-space: nowrap;">
                                    $if 'PublicPort' in port:
                                        $port['PublicPort'] <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    $port['PrivatePort']
                                    </div>
                            $elif col_head == "Manage":
                                $if 'Names' in container:
                                    $ name = container['Names'][0]
                                $else:
                                    $ name = "anonymous"
                                <form action="/action">
                                    <select id="action_select" name="action"  onchange="this.form.submit();" class="form-control">
                                        <option value="" disabled selected style="display:none;">Select</option>
                                        <option value="start">Start</option>
                                        <option value="stop">Stop</option>
                                        <option value="restart">Restart</option>
                                        <option value="logs">Logs</option>
                                        <option value="top">Top</option>
                                        <option value="inspect">Inspect</option>
                                        <option value="remove">Remove</option>
                                    </select>
                                <input type="hidden" name="name" value="$name">
                                <input type="hidden" name="id" value="$container['Id']">
                                </form>
                            $elif col_head == "Created":
                                $datetime.datetime.fromtimestamp(int(container[col_head])).strftime('%Y-%m-%d %H:%M:%S')
                            $else:
                                $container[col_head]
                        </td>
            </tr>
        </tbody>
    </table>
</div>


