$def with (title, col_heads, networks, render)
$var title: $title

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                $for col_head in col_heads:
                    <th> $col_head  </th>
            </tr>
        </thead>
        <tbody>
            $for network in networks:
                <tr>
                $if network is not None:
                    $for col_head in col_heads:
                        <td>
                            $if col_head == "Driver":
                                $if network["IPAM"] and "Driver" in network["IPAM"]:
                                    $network["IPAM"]["Driver"]
                            $elif col_head == "Config":
                                $if network["IPAM"] and "Config" in network["IPAM"] and network["IPAM"]["Config"] is not None:
                                    $for config in network["IPAM"]["Config"]:
                                        $if config is not None:
                                            <div>
                                            $:render.dictionary(config)
                                            </div>
                            $elif col_head == "Options":
                                $if network["IPAM"] and "Options" in network["IPAM"]:
                                    $network["IPAM"]["Options"]
                            $elif col_head == "Labels":
                                    $:render.dictionary(network[col_head])
                            $elif col_head == "Manage":
                                Inspect
                            $elif col_head == "Id":
                                $network[col_head][:12]
                            $else:
                                $network[col_head]
                        </td>
            </tr>
        </tbody>
    </table>
</div>


